/* Bouton "Prendre rendez-vous" */
.appointment {
    background-color: #789d78;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;
    font-family: "TtMd";
}

.appointment-container {
    flex: 2; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.appointment a {
    text-decoration: none;
    color: white;
    font-family: "TtMd";
}

.appointment:hover {
    background-color: #496549;
}

/* Footer par défaut */
.footer {
    width: 100%;
    height: 250px;
    color: black;
    font-family: 'TtRg', sans-serif;
    font-size: 16px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;    
}

.about-page .footer {
    background-color: rgb(193, 178, 165);
}

.tarifs-page .footer {
    background-color: #789d78; 
}

.footer-right img[src*="wellfuz.png"] {
    width: 35px;
    height: auto;
    transform: scale(1.5); 
    filter: grayscale(100%);
}

.footer-right img[src*="ailesndavid.png"] {
    width: 25px;
    height: auto;
    transform: scale(1.5); 
    filter: grayscale(100%);
}


.footer-left {
    text-align: left;
    line-height: 1.6;
    min-width: 200px;
    font-size: 14px;
    color: gray;
}

/* Logo centré */
.footer-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center img {
    width: 80px; 
    height: auto;
}

.footer-info {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: left; 
    text-align: center;
    gap: 20px; 
}


.footer-beige {
    background-color: rgb(193, 178, 165); 
}

.footer-cabinets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 35px; 
    position: absolute;
    right: 100px;
    bottom: 40px;
    gap: 10px;
    flex-direction: column;
}

.footer-partners {
    display: flex;
    flex-direction: row; 
    gap: 30px; 
}

.footer-partners-title {
    font-family: "TtMd", sans-serif;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.footer-right img {
    width: 35px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.footer-right img:hover {
    transform: scale(1.2);
}

.footer-contact {
    text-align: left;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'TtRg', sans-serif;
    color: black;
    line-height: 1.6;
}

.footer-contact p {
    margin: 3px 0;
}

.contact-name {
    font-size: 16px;
}

.contact-email,
.contact-phone {
    font-size: 14px;
    color: gray;
}

.contact-email a {
    text-decoration: none;  
    color: grey; 
    transition: color 0.3s ease-in-out;
}

.contact-email a:hover {
    color: #496549; /* Vert plus foncé au survol */
}

/* Footer 2 */
.footer2 {
    width: 100%;
    height: 70px;
    background-color: #111; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: #ccc; 
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

.footer2-beige {
    color: beige; 
}

/* Icônes sociales */
.footer2-socials {
    display: flex;
    gap: 35px;
}

.footer2-socials img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.footer2-text {
    color: white;
    font-size: 12px;
    font-family: "TtTh";
    font-weight: normal;
}



