body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'TtTh';
    
}

.container {
    display: flex;
    width: 100%;
    height: 950px;
    position: relative;
}

.beige-box {
    flex: 4;
    background-color: rgb(193, 178, 165);
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-family: 'Lovelace', serif;
    font-size: 40px;
    color: white;
    line-height: 1.2;
}

.image-box {
    flex: 2;
    background: url('/static/images/laetitia_zoom2.png') bottom/cover no-repeat;
}

.full-width-banner {
    width: 100%; 
    height: 90vh; 
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    background: url('/static/images/path.jpg') center /cover no-repeat;
}

.banner-text {
    position: absolute;
    top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-description {
    height: 50%;
    padding-top: 1vh; 
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw;
    border-radius: 10px;
}

.banner-text h1 {
    font-family: 'Lovelace', serif;
    font-size: max(5.2vmin, 20px);
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: white;
}

.banner-text p {
    font-family: 'TtRg', sans-serif;
    font-size: max(2.5vmin, 14px); 
    font-weight: 400;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    color: white; 
    line-height: 1.5; 
}

.white-container {
    width: 100%; 
    height: 300px; 
    font-family: 'Lovelace'; 
    font-size: max(3vmin, 20px); 
    background-color: white;
    border-radius: 9vh 9vh 0px 0px;
    padding: 50px 20px 0px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px; 
    z-index: 10;
}

.text-container {
    display: flex;
    position: absolute;
    flex-direction: column; 
    align-items: start; 
    top: 19vh;  
    left: 10vw;
}

.welcome-text {
    font-size: max(3vmin, 16px); 
    font-family: 'TtTh', sans-serif; 
    text-align: center; 
    margin-bottom: 10px; 
    align-items: flex-start;
    color: white; 
}

.brand-text {
    font-size: max(8vmin, 30px); 
    font-weight: bold;
    text-align: left;
    color: white; 
    padding-bottom: 5vh;
}

.info-box {
    width: 70%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    top: 10vh;
    left: 10vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: left;
}

.info-text {
    font-size: max(2vmin, 20px);
    line-height: 1.5;
    color: #7E2D07;
    text-align: left;
    font-family: 'TtRg', sans-serif;
    padding: 30px;
}

.highlight {
    color: #789d78;
    font-family: 'TtRg';
}

.highlight-black{
    color: black;
    font-family: 'TtRg';
}

.banner-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn-en-savoir-plus {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    font-family: 'TtMd', sans-serif;
    font-size: max(2.3vmin, 13px);
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-en-savoir-plus:hover {
    background-color: #789d78;
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.home-button-container {
    margin-top: 10px;
}

/* Styles généraux pour les boutons */
.home-btn-specialites {
    background-color: white ;
    color: black;
    font-size: max(2vmin, 14px);
    padding: 12px 24px;
    border-radius: 3vmin;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    font-family: "TtRg";
}

.home-btn-formations {
    background-color: #789d78;
    color: white;
    font-size: max(2vmin, 14px);
    padding: 12px 24px;
    border-radius: 3vmin;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    font-family: "TtRg";
}

.home-btn-specialites:hover{
    background-color: black;
    color: white;
}
.home-btn-formations:hover {
    background-color: #496549;
}

.specialties-description {
    font-size: max(2.1vmin, 14px);
    color: black;
    font-family: 'TtRg', sans-serif;
    text-align: center;
    max-width: 900px;
    margin: 50px auto 0;
    line-height: 1.5;
}

.bottom-banner {
    width: 100%;
    height: 100px;
    overflow: hidden; 
}

.bottom-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 40%;
    
}

