/* Navbar transparente */
.navbar {
    position: fixed; 
    z-index: 1000; 
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: rgba(193, 178, 165, 0.5);
    backdrop-filter: blur(10px);
}

.nav-links {
    display: flex;
    gap: 50px;
    flex: 4; 
    align-items: center;
    margin-left: 5%;
    
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: max(2vmin, 16px);
    font-family: "TtRg";
    transition: 0.3s;
    padding: 10px 15px;
    border-radius: 30px; 
    display: inline-block;
}

.nav-links a:hover {
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 100px; 
}

.navbar-logo {
    height: 30px;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.navbar-logo:hover {
    transform: scale(1.2); /* Agrandit légèrement au survol */
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

/* Contenu du dropdown (caché par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(193, 178, 165) ;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 10;
    top: 100%;
    left: 0;
}

/* Liens à l'intérieur du dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    border-radius: 0px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid #ddd;
}

/* Effet hover sur les liens */
.dropdown-content a:hover {
    background-color: white ;
    color: black;
}

.dropdown-content a:last-child {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
}

.dropdown-content a:first-child {
    border-radius: 8px 8px 0 0;
}

/* Affichage du menu au survol */
.dropdown:hover .dropdown-content {
    display: block;
}


