/* Wrapper général */
.services-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

/* Containers de services à gauche */
.service-container {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.service-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.top-img-position {
    object-position: center 25%; 
}

.service-item {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    padding-bottom: 30px;
}

.service-text {
    font-size: 20px;
    font-family: 'TtRg', sans-serif;
}

.arrow-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow-text {
    font-family: 'TtRg', sans-serif;
    font-size: 15px;
    color: gray;
    margin-right: 5px;
}

.chevron {
    font-size: 18px;
    font-weight: bold;
    color: gray;
}

/* Containers des séances par spé */
.detail-container {
    display: none;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: fixed;
    top: 100px;
    right: 100px;
    bottom: 50px;
    flex-direction: column;    
    justify-content: left;
    align-items: center;
    font-size: 24px;
    font-family: 'TtRg', sans-serif;
    padding: 20px;
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.service-image {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 20px;
}

.service-text-container {
    font-size: 16px;
    font-family: "TtRg";
    color: grey;
    display: flex;
    flex-direction: column;
    flex: 1; 
    gap: 10px;  
}

.service-title {
    font-size: 22px;
    margin-bottom: 5px;
    color:#7E2D07;
}

.service-tarif {
    font-size: 16px;
    color: #789d78;
}

.tarifs-title {
    color: #7E2D07;
    font-family: 'Lovelace', serif;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.tarif-green {
    color: #789d78; 
    font-size: 16px;
}

.tarif-black {
    color: black;
    font-size: 16px;
}

.detail-container.active {
    visibility: visible;
    display: flex;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}


/* Titre tout en haut */
.detail-title {
    font-size: 26px;
    margin-bottom: 25px;
    font-family: "Lovelace";
    font-weight: 500;
    color: #7E2D07;
}

/* Container alignant l'image et le texte par séance */
.content-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    padding: 5px 20px 0px 20px;
    height: min-content;
}

.service-box {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    overflow: hidden; 
}

.service-box img {
    width: 220px; 
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 15px;
    padding: 20px;
    margin-bottom: 10px;
}

.highlight {
    color: #789d78;
    font-family: 'TtMd';
}


/* Bouton de découverte */
.discover-button {
    background-color: #789d78; 
    color: white; 
    border: none;
    font-family: "TtMd";
    border-radius: 25px; 
    padding: 10px 10px;
    cursor: pointer;
    font-size: 14px;
    width: fit-content; 
    display: block;
}

/* Grande description */
.large-description-container {
    width: 100%;
    padding: 0px 40px 30px 40px ;
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    display: none;
}

.large-description {
    font-size: 15px;
    color: black;
    line-height: 1.5;
}

/* Expansion de la box */
.service-box.expanded {
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
}

.benefits-list {
    padding-left: 20px; /* Décale légèrement les puces */
    list-style-type: disc; /* Affiche des puces standards */
}

.benefits-list li {
    margin-bottom: 10px; /* Ajoute un espacement entre chaque élément */
    font-size: 15px;
    line-height: 1.3;
}