<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >
    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
</head>
<body>

    <nav class="navbar">
        <div class="logo-container">
            <a href="/">
                <img src="/static/images/logo_black.png" alt="Logo" class="navbar-logo">
            </a>
        </div>
        <div class="nav-links">
            <a href="/about">À propos</a>
            <a href="/tarifs">Prestations & tarifs</a>
            <a href="/formations">Formations</a>
            <div class="dropdown">
                <a href="#" class="dropdown-btn">Mes spécialités</a>
                <div class="dropdown-content">
                    <a href="/reiki">Reiki</a>
                    <a href="/hypnose">Hypnose</a>
                    <a href="/sophrologie">Sophrologie</a>
                    <a href="/liens-transgenerationnels">Liens transgénérationnels</a>
                    <a href="/methode-leaa">Méthode LEAA</a>
                </div>
            </div>
        </div>
        <div class="appointment-container">
            <div class="appointment">
                <a href="#">Prendre rendez-vous</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="beige-box">
            <div class="text-container">
                <p class="welcome-text">Bienvenue sur mon site</p>
                <p class="brand-text">Énergie &<br>Harmonie by L.</p>
                <div class="info-box">
                    <p class="info-text">Je vous aide à créer des changements positifs profonds et durables dans votre vie, grâce à des méthodes 
                        rassurantes et efficaces avec douceur et professionnalisme.<br>Le nombre de séances est adapté à chaque problématique.</p>
                </div>
                <div class="home-button-container">
                    <a href="#specialites" class="home-btn-specialites">Mes spécialités</a>
                    <a href="/formations" class="home-btn-formations">Mes formations</a>
                </div>
            </div>
            
        </div>
        <div class="image-box"></div>
    </div> 

    <div class="full-width-banner">
        <div class="banner-text">
            <h1>Qui suis-je ?</h1>
            <div class="banner-description">
                <p> Je suis Laetitia, praticienne en Reiki Usui depuis l’âge de 20 ans et aujoud'hui Maître enseignante.
                    Passionnée par les approches énergétiques et le mieux-être, je me suis également formée à d’autres techniques 
                    pour accompagner chacun sur son chemin de vie.<br><br>Depuis toujours, j’ai à cœur d’aider les personnes à apaiser
                    leurs souffrances et à améliorer leur quotidien, en leur offrant un espace bienveillant et harmonisant.
                </p>
            </div>
            <div class="banner-button">
                <a href="/about" class="btn-en-savoir-plus">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="white-container" id="specialites">
        <h2>Découvrez mes spécialités</h2>
        <p class="specialties-description">
            Grâce à mes spécialités, que vous pouvez découvrir ci-dessous, je vous aide à vous reconnecter à vos ressources, à libérer ce qui vous entrave et à avancer sereinement sur votre chemin. <br>
            Chacune de ces pratiques a ses bienfaits et ses spécificités, que je vous invite à découvrir plus en détail.<br>
            Laissez vous guider vers la méthode qui résonne le plus avec vos besoins.

        </p>
    </div>

    <div class="carousel">    
        <div class="carousel-container">
            <div class="carousel-item">
                <img src="/static/images/sophro_desc.jpg" alt="Image 1">
                <h3>La Sophrologie</h3>
                <p>Méthode de relaxation qui associe respiration, détente musculaire et visualisation positive</p>
            </div>
            <div class="carousel-item">
                <img src="static/images/mains.jpg" alt="Image 2">
                <h3>Le Reiki</h3>
                <p>Pratique énergétique japonaise, qui vise à rééquilibrer les énergies du corps et de l’esprit</p>
            </div>
            <div class="carousel-item">
                <img src="/static/images/hypnose_quotidien.jpg" alt="Image 3">
                <h3>L'Hypnose</h3>
                <p>Technique permettant d’accéder à l'inconscient  pour ( modifier des comportements et) favoriser les changements positifs</p>
            </div>
            <div class="carousel-item">
                <img src="static/images/methode_leaa_desc.jpg" alt="Image 4">
                <h3>La méthode LEAA</h3>
                <p>Approche spécifique qui travaille sur la libération des émotions pour retrouver un équilibre intérieur</p>
            </div>
            <div class="carousel-item">
                <img src="static/images/family_hands.jpg" alt="Image 5">
                <h3>Les liens transgénérationnels</h3>
                <p>Travail énergétique et émotionnel visant à se libérer des schémas hérités de générations précédentes</p>
            </div>
        </div>
    
    
        <div class="carousel-controls">
            <button class="prev-btn">&#10094;</button> 
            
            <div class="carousel-dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
            </div>
    
            <button class="next-btn">&#10095;</button>
        </div>
    </div>

    <div class="bottom-banner">
        <img src="/static/images/path7.jpg" alt="Bannière décorative">
    </div>

    <footer class="footer">
        <div class="footer-info">
            <div class="footer-contact">
                <p class="contact-name" style="color: black; font-family: 'TtMd';">Laetitia Papereux</p>
                <p class="contact-email">
                    <a href="mailto:sophro.papereux@gmail.com">sophro.papereux@gmail.com</a>
                </p>
                <p class="contact-phone">+33 6 61 34 72 98</p>
            </div>

            <div class="footer-cabinets">
                <div class="footer-left">
                    <p style="color: black; font-family: 'TtMd';">Cabinet 1<br></p>
                    <p> 1 rue Maurice Leblanc <br>
                        78290 Croissy-sur-Seine
                    </p>
                </div>
                
                <div class="footer-left">
                    <p style="color: black; font-family: 'TtMd';">Cabinet 2 <br> </p>
                    <p> 21 rue Albert 1er <br>
                    78110 Le Vésinet
                    </p>
                </div>
            </div>
        </div>

        <div class="footer-center">
            <img src="/static/images/logo_black.png" alt="Logo central">
        </div>
    
        <div class="footer-right">
            <p class="footer-partners-title">Partenaires</p>
            <div class="footer-partners">
                <a href="https://wellfuz.com/laetitia-papereux/" target="_blank">
                    <img src="/static/images/wellfuz.png" alt="Wellfuz">
                </a>
                <a href="https://wellfuz.com/laetitia-papereux/" target="_blank">
                    <img src="/static/images/ailesndavid.png" alt="Ailes N David">
                </a>
            </div>
        </div>
    </footer>

    <div class="footer2">
        <div class="footer2-socials">
            <a href="https://www.instagram.com/harmonie_et_energie_by_l?igsh=ZHE3dTF0N3hlNzZz" target="_blank">
                <img src="https://logos-marques.com/wp-content/uploads/2020/09/insta-logo.png" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/share/1AJeK7VDrN/?mibextid=wwXIfr" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/20/20673.png" alt="Facebook">
            </a>
        </div>
        <p class="footer2-text">Copyright © 2025 Énergie & Harmonie by L. All Rights Reserved.</p>
    </div>
</body>
</html>